.mandatoryTxt{
    color: red;
    font-style: italic;
    font-weight: 600;
}

.btn{
    margin: 15px 0px;
    font-weight: 700;
}

.formContainer{
    height: 85vh;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    width: 95%;
}

form {
    background: rgba(255,255,255,0.3);
    padding: 3em;
    border-radius: 20px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form h1{
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

label{
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

input, textarea {
    background: transparent;
    width: 100%;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
input:hover, textarea:hover{
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}    
input[type="email"]:focus, textarea:focus{
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 60px 8px rgba(0,0,0,0.2);
}

input[type="button"]{
    margin-top: 10px;
      width: 150px;
      font-size: 1rem;
}

input[type="button"]:hover{
    cursor: pointer;
}
input[type="button"]:active, textarea:active{
    background: rgba(255,255,255,0.2);
}


input::placeholder, textarea::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.drop {
    background: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    box-shadow: 10px 10px 60px -8px rgba(0,0,0,0.2);
    position: relative;
    transition: all 0.2s ease;
}

.drop-1{
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: 1;
}

.drop-2{
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
}

.drop-3{
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: 1;
}

.drop-4{
    height: 120px;
    width: 120px;
    top: -420px;
    right: 30px;
}
    
.drop-5{
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: 1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}