<nav
  class="container navbar nav-pills navbar-expand-lg navbar-light bg-transparent"
>
  <div class="container-fluid">
    <h1 class="projectTitle nav-item active navbar-brand">Our Project!</h1>
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleNavbar()"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Toggle button -->
    <div
      class="collapse navbar-collapse navbar-transition"
      [ngClass]="isNavbarOpen ? 'show' : 'notShow'"
    >
      <ul
        ngbNav
        #nav="ngbNav"
        class="navbar-nav mr-auto nav-justified navbar-brand"
      >
        <li ngbNavItem class="nav-item">
          <a ngbNavLink routerLink="" aria-current="page" class="nav-link"
            >Home</a
          >
        </li>
        <li ngbNavItem class="nav-item">
          <a ngbNavLink routerLink="/products" class="nav-link">Products</a>
        </li>
        <li ngbNavItem class="nav-item">
          <a ngbNavLink routerLink="/users" class="nav-link">Users</a>
        </li>
        <li ngbNavItem class="nav-item">
          <a ngbNavLink routerLink="/orders" class="nav-link">Orders</a>
        </li>
        <li ngbNavItem class="nav-item">
          <a ngbNavLink routerLink="/contact" class="nav-link"> Contact </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="whiteLine"></div>

<router-outlet></router-outlet>

<footer class="text-center text-white bg-transparent">
  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="" class="text-white">Home</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/products" class="text-white">Products</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/users" class="text-white">Users</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/orders" class="text-white">Orders</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact" class="text-white">Contact</a>
          </h6>
        </div>
      </div>
    </section>
    <hr class="my-5" />
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Website developed by:
            <a
              class="author"
              href="https://www.linkedin.com/in/namtoun/"
              target="_blank"
              >Niama Amtoun</a
            >
            &
            <a
              class="author"
              href="https://www.linkedin.com/in/nicolas-perez-burbano/"
              target="_blank"
              >Nicolás Pérez</a
            >
          </p>
        </div>
      </div>
    </section>
  </div>
</footer>
