<nav>
  <ul ngbNav #nav="ngbNav" class="nav-tabs nav-pills nav-justified">
    <li class="projectTitle" ngbNavItem>Our Project!</li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="">Home</a>
    </li>
    <li ngbNavItem>
      <a ngbNavLink routerLink="/products">Products</a>
    </li>
    <li ngbNavItem>
      <button ngbNavLink routerLink="/users">Users</button>
    </li>
    <li ngbNavItem>
      <button ngbNavLink routerLink="/orders">Orders</button>
    </li>
    <li ngbNavItem>
      <button ngbNavLink routerLink="/contact">Contact</button>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</nav>

<router-outlet></router-outlet>

<footer class="text-center text-white bg-dark bg-gradient">
  <div class="container">
    <section class="mt-5">
      <div class="row text-center d-flex justify-content-center pt-5">
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="" class="text-white">Home</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/products" class="text-white">Products</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/users" class="text-white">Users</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/orders" class="text-white">Orders</a>
          </h6>
        </div>
        <div class="col-md-2">
          <h6 class="text-uppercase font-weight-bold">
            <a routerLink="/contact" class="text-white">Contact</a>
          </h6>
        </div>
      </div>
    </section>
    <hr class="my-5" />
    <section>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <p>
            Website developed by:
            <a
              class="author"
              href="https://www.linkedin.com/in/namtoun/"
              target="_blank"
              >Niama Amtoun</a
            >
            &
            <a
              class="author"
              href="https://www.linkedin.com/in/nicolas-perez-burbano/"
              target="_blank"
              >Nicolás Pérez</a
            >
          </p>
        </div>
      </div>
    </section>
  </div>
</footer>
