.currentProdImg{
    max-width: 50%;
    display: block;
    margin: 0 auto; /* Center-align images in table cells */
}

.equal-width-table {
    table-layout: fixed; /* Fix the table layout to control column widths */
    width: 100%; /* Make the table fill its container */
  }

  .table{
    text-align: center;
  }

.table th,
.table td {
  vertical-align: middle; /* Center-align content vertically within table cells */
}

.container, .container-xxl{
  min-height: 100vh;
}

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

